<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 21.01.2026</time>
            <h2><a href="">My first post</a></h2>
            <p>I just love kittens</p>
        </article>

        <article>
            <time>published: 21.01.2026</time>
            <h2><a href="">My second post</a></h2>
            <p>I still love them</p>
        </article>
    </body>
</html>